@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');        

* {
    text-decoration: none;
    font-family: "Handjet", sans-serif;
    font-weight: 700;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}


@media screen and (min-width: 768px) {
    #img-proj {
        width: 850px;
        height: 450px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    #proj-content {
        text-align: center;
    }

    #flex {
        max-width: 850px;
        height: 100px;
        display: flex;
        flex-direction: column;
    }

    #link-proj {
        font-size: 14px;
        color: #007bff;
        cursor: pointer;
        transition: transform 0.3s ease;
        -webkit-transition: transform 0.3s ease;
        -moz-transition: transform 0.3s ease;
        -ms-transition: transform 0.3s ease;
        -o-transition: transform 0.3s ease;
    }

    #link-proj:hover {
        color: #3094ffc7;
        transform: translateY(1px);
        -webkit-transform: translateY(1px);
        -moz-transform: translateY(1px);
        -ms-transform: translateY(1px);
        -o-transform: translateY(1px);
    }

    .img-c {
        width: 30px;
        margin: 5px;
    }
}


#game {
    width: 100%;
    height: 100%;
}







.chat-bubble {
    background-color: #fff;
    border-radius: 15px;
    border: rgb(225, 182, 73) groove 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width:100%;
    height: 10%;
    position: absolute;
    top: 80%;
    margin: auto;
    left: 20%;
    right: 20%;
    align-items: center;
    text-align: center;
}
.text {
    font-size: 20px;
    line-height: 1.4;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}
.button-container button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.button-container button:disabled {
    background-color: #ccc;
}


.gato-imgs {
    right: 70%;
    width: 28%;
    top: 20%;
}

.nina-imgs {
    left: 70%;
    width: 28%;
    top: 20%;
}

.img-adj {
    position: absolute;
}

#codeScreen {
    position:absolute;
    top: 25%;
    left: 43%;
    margin: auto;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 200px;
}

.btn-answer {
    font-size: 30px;
    box-shadow: rgba(113, 113, 113, 0.73) 5px 4px 0;
    margin: 5px;
    width: 50px;
    height: 50px;
    background: rgb(216, 214, 214);
    border: groove 2px goldenrod;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
}

.butt-opt {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    font-size: 40px;
    box-shadow: rgba(113, 113, 113, 0.73) 5px 4px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.butt-opt:hover, .btn-answer:hover {
    box-shadow: none;
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -o-transform: translateX(2px);
}

.options {
    position: absolute;
    left: 40%;
    top: 20%;
    display: flex;
    flex-direction: column;
    
}

.change {
    font-size: 60px;
    border: none;
    background: #ffffff00;
    cursor: pointer;
    color: #007bff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    min-width: 70px;
    position: absolute;
}

.change:hover {
    border: #007bff solid 1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .gato-imgs {
        right: 65%;
        width: 35%;
        top: 60%;
    }
    
    
    .nina-imgs {
        left: 70%;
        width: 35%;
        top: 60%;
    }

    .text {
        font-size: 15px;
    }
}


@media screen and (max-height: 368px) {
    .gato-imgs {
        top: 35%;
    }
    
    
    .nina-imgs {
        top: 35%;
    }

    .chat-bubble {
        max-width:100%;
        height: 13%;
        position: absolute;
        top: 80%;
        margin: auto;
        left: 15%;
        right: 15%;
        align-items: center;
        text-align: center;
    }
}
